<template>
    <div class="qingshi-body">
        <div class="qingshi-content-header">
            <a href="">
                <img src="../../img/logo.png" alt="" class="logo">
            </a>
            <span class="desc">创造信息价值!</span>
            <div class="expand"></div>
            <a href="">返回轻识</a>
        </div>
        <div class="qingshi-content">
            <div class="aside-menu">
                <div class="aside-animation">
                    <LottieAnimation :animation-data="aiJSON" :auto-play="true" :loop="true" :speed="1" ref="anim"/>
                    <span>AI</span>
                </div>
                <div class="menu-list">
                    <div class="menu-item">
                        <img src="../../img/message.png" alt="">
                        <span>对话</span>
                    </div>
                </div>
                <div class="links">
                    <a href="">设置</a>
                    <a href="">隐私政策</a>
                    <a href="">用户协议</a>
                    <a href="">关于我们</a>
                </div>
            </div>

            <div class="flex flex-col chat-wrapper">
                <div class="flex-1 mx-2 mb-2 chatListDom">
                    <!-- 循环messageList打印-->
                    <div class="group flex flex-col px-4 py-3 hover:bg-slate-100 rounded-lg"
                         v-for="item of messageList.filter((v) => v.role !== 'web')">
                        <div class="flex justify-between items-center mb-2">
                            <!-- 显示角色-->
                            <div class="font-bold">{{ roleAlias[item.role] }}：</div>
                            <!-- 拷贝到剪切板-->
                            <Copy class="invisible group-hover:visible" :content="item.content"/>
                        </div>
                        <div>
                            <!--显示对话内容-->
                            <div class="prose text-sm text-slate-600 leading-relaxed" v-if="item.content"
                                 v-html="md.render(item.content)">
                            </div>
                            <Loading v-else/>
                        </div>
                    </div>
                </div>

                <div class="sticky bottom-0 w-full p-6 pb-8">
                    <div class="flex">
                        <input class="input" :type="'text'" :placeholder="'你可以问我任何问题...'" v-model="userSay"
                               @keydown.enter="isTalking || sendMessage()"/>
                        <button class="btn" :disabled="isTalking" @click="sendMessage()">
                            发送
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center filling">
            <a href="https://beian.miit.gov.cn/" target="_blank">
                浙ICP备2023012570号-1
            </a>
        </div>
    </div>
</template>

<script setup lang="ts">
import Copy from "@/components/Copy.vue";
import Loading from "@/components/Loding.vue";
import {md} from "@/libs/markdown";
import type {ChatMessage} from "@/types";
import {nextTick, onMounted, ref, watch} from "vue";
import {LottieAnimation} from "lottie-web-vue";
import aiJSON from "../../img/ai.json";
import { api } from "@/libs/api";


const decoder = new TextDecoder("utf-8");
let anim = ref()

let isTalking = ref(false);
let userSay = ref("");
const chatListDom = ref<HTMLDivElement>();
const roleAlias = {user: "ME", assistant: "AI", web: "WEB"};
const messageList = ref<ChatMessage[]>([
    {
        role: "assistant",
        content: `你好，我是轻识智能问答机器人，你可以对我进行知识点提问.`,
    },
]);

const knowledgeBaseName = ref();
onMounted(()=>{
    let param = window.location.href.split('#')[0];
    let paramContent = param.split('?')[1];
    let paramsArray = paramContent.split('&');
    //显示添加索引
    let paramResult:{[key:string]:string}={};
    //遍历数组，拿到json对象
    paramsArray.forEach((item, index, paramsArray) => {
        paramResult[paramsArray[index].split('=')[0]] = paramsArray[index].split('=')[1];
    })
    knowledgeBaseName.value = paramResult["knowledgeBaseName"];
    if (knowledgeBaseName.value == null) {
        alert("未设置知识库")
    }
})



const sendChatMessage = async (content: string = userSay.value) => {
    try {
        if (messageList.value.length === 1) {
            messageList.value.pop();
        }
        messageList.value.push({role: "user", content});
        clearMessageContent();
        messageList.value.push({role: "assistant", content: ""});
        let request = {
            query: content, // 将 userSay 的值赋给 query 属性
            knowledge_base_name: knowledgeBaseName.value,
            top_k: 3,
            history: [],
            stream: true,
            model_name: "chatglm2-6b",
            temperature: 0.7,
            local_doc_url: false
        };
        //调用服务
        const { body, status } = await api(JSON.stringify(request));
        if (body) {
            const reader = body.getReader();
            await readStream(reader, status);
        }
    } catch (error: any) {
        console.error("发送消息发生了错误：", error);
        messageList.value.push({role: "web", content: "服务出现了一些问题,需要稍等一会访问啦!"});
    }
};

const readStream = async (
    reader: ReadableStreamDefaultReader<Uint8Array>,
    status: number
) => {
    while (true) {
        // eslint-disable-next-line no-await-in-loop
        const { value, done } = await reader.read();
        if (done) {
            break;
        }
        const decodedText = decoder.decode(value, { stream: true });
        const json = JSON.parse(decodedText);
        if (status !== 200) {
            const content = json.error.message ?? decodedText;
            appendLastMessageContent(content);
            return;
        }
        let answerContent =  json.answer;
        if (!answerContent) {
            continue
        }
        appendLastMessageContent(json.answer);
    }
};
const appendLastMessageContent = (content: string) => {
    const lastMessage = messageList.value[messageList.value.length - 1];
    lastMessage.content += content;
}


const sendMessage = () => {
    if (isTalking.value) {
        return;
    }
    if (!userSay.value || userSay.value.length < 1) {
        return;
    }
    isTalking.value = true;
    sendChatMessage();
    isTalking.value = false;
};

const clearMessageContent = () => (userSay.value = "");

const scrollToBottom = () => {
    if (!chatListDom.value) return;
    scrollTo(0, chatListDom.value!.scrollHeight);
};

watch(messageList.value, () => nextTick(() => scrollToBottom()));
</script>

<style scoped>
a {
    color: #9195a3;
    font-size: 14px;
    transition: 0.2s ease;
}

a:hover {
    text-decoration: underline;
    color: #006eff;
}

.qingshi-body {
    background-color: #eaf2ff;
    padding: 0 15px;
    min-height: 100vh;
}

.qingshi-content {
    /* background-color: white; */
    border-radius: 20px;
    overflow: hidden;
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    min-height: 700px;
    display: flex;
}

.qingshi-content-header {
    display: flex;
    align-items: center;
    padding: 30px 0px;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.qingshi-content-header img {
    height: 30px;
}

.qingshi-content-header .desc {
    font-size: 14px;
    color: #9195a3;
    padding-left: 30px;
}

.expand {
    flex: 1;
}

.aside-menu {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 300px;
    background-color: white;
}

.aside-animation {
    position: relative;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.aside-animation span {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -15px;
    font-size: 30px;
    font-weight: bold;
    /* color: #006eff; */
    color: white;

}

.menu-list {
    flex: 1;
}

.aside-menu .links a {
    display: block;
    height: 44px;
    line-height: 44px;
}

.menu-list .menu-item {
    display: flex;
    align-items: center;
    height: 44px;
    background-color: #eaf2ff;
    border-radius: 6px;
    padding-left: 30px;
}

.menu-item img {
    height: 20px;
    margin-right: 10px;
}

.menu-item span {
    color: #006eff;
    font-weight: bold;
    font-size: 16px;
}

.chat-wrapper {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.6);
}

.sticky .input {
    border-radius: 30px;
    box-shadow: 0 4px 16px 0 #eaf2ff;
    height: 44px;
    border: none;
    padding: 0 25px;
    font-size: 16px;
}

.sticky .btn {
    border-radius: 30px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: normal;
}

.filling {
    padding: 15px 0;
}

.filling a {
    font-size: 12px;
}
</style>
